* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

#video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

h1 {
    color: white;
    text-align: center;
    font-size: 4vw;
}

p {
    color: white;
    text-align: center;
    font-size: 1.5vw;
}

.wrapper {
    background: rgba(0, 0, 0, 0.9);
    padding: 2vw;
    border-radius: 1vw;
    width: 40vw;
    max-width: 500px;
    box-shadow: 0 0 2vw rgba(0,0,0,0.5);
    color: #fff;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Button */
.btn {
    margin: 1vw;
    padding: 1vw 2vw;
    border: none;
    outline: none;
    color: #FFF;
    cursor: pointer;
    border-radius: 0.5vw;
    font-size: 1vw;
    background-color: #a52a2a;
    transition: 0.3s;
}

.btn:hover {
    background-color: #8b0000;
}

.btn:active {
    background-color: #5c0000;
}
